{% extends "base.html" %}
{% import "macros/news_item.html" as news %}

{% block content %}
<article class="article">

  <h1>{{page.title}}</h1>

  {% if page.extra.intro %}
  {{ page.extra.intro | markdown | safe }}
  {% endif %}

  {{ page.content | safe }}

  {% if page.extra.news_tag %}

  {% set section = get_section(path="news/_index.md") %}
  {% set related_posts = [] %}

  {% for post in section.pages %}
  {% if post.extra.tags %}
  {% for tag in post.extra.tags %}
  {% if tag == page.extra.news_tag %}
  {% set_global related_posts = related_posts | concat(with=post) %}
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}

  {% if related_posts.0 %}
  <h3>Related News</h3>
  <ul class="related-news">
    {% for post in related_posts %}
    {{ news::news_item(post=post) }}
    {% endfor %}
  </ul>
  {% endif %}

  {% endif %}

  <div class="alert-box">
    <h3>Do you know something we don't?</h3>
    <p>Did we miss something important? Or maybe you just recently launched something that should be listed here, too?
      <a href="https://github.com/JoJoDeveloping/arewespecyet/issues/new" target="_blank">Let us know</a>!
    </p>
  </div>

</article>
{% endblock content %}
